:root {
--primary-bg-color: #ffffff;
--secondary-bg-color: #2E2F42;
--color-main-text: #2E2F42;
--color-secondary-text: #434455;
--accent: #4D5AE5;
--accent-pressed-state: #404BBF;
--color-bg-team: #F4F4FD;
}

/* general */
body {
font-family: 'Roboto', sans-serif;
background-color: var(--primary-bg-color);
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-secondary-text);
}

/* list link */
.link {
text-decoration: none;
}
.list {
list-style: none;
padding: 0;
margin: 0;
}

/* title */
.title {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-main-text);
}

/* container */
.container {
    margin-right: auto;
    margin-left: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}

/* site header */
.header {
border-bottom: 1px solid #E7E9FC;
}
.header > .container {
    display: flex;
    justify-content: space-between;
}

/* logo */
.logo {
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--accent);
margin-right: 76px;
}
.logo-blue {
color: var(--color-main-text);
}
.logo-white {
    color: #f4f4fd;
}


/* nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav>.list {
    display: flex;
    padding: 0px;
}
.nav>.list .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-main-text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.nav>.list>.item:not(:last-child) {
    margin-right: 40px;
}
.nav>.list .link:hover,
.nav>.list .link:focus {
    color: var(--accent);
}
.nav>.list .link.current {
    color: var(--accent);
}

/* address */
.contacts.list {
    display: flex;
    align-items: center;
}
.contacts>.item:not(:last-child) {
    padding-left: 0px;
    margin-right: 40px;
}
.contacts .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--color-secondary-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent);
}

/* hero */
.hero {
    padding: 188px 0;
    margin-right: auto;
    margin-left: auto;
    color: #ffffff;
    background-color: var(--secondary-bg-color);
    text-align: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em
}

.btn {
    font-family: 'Roboto', sans-serif;
    padding: 16px 32px;
    background: var(--accent);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    border: none;
    line-height: 1.5;
    color: #ffffff;
    cursor: pointer;
}

.hero .btn:hover,
.hero .btn:focus {
    background-color: var(--accent-pressed-state);
}

/* features */
.features {
    padding-top: 120px;
    margin-bottom: 120px;
}

.features>.container>.list {
    display: flex;
}

.features .item>.text {
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.features .item {
    width: 264px;
}

.item .title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-main-text);
    text-align: left;
}

.features .item:not(:last-child) {
    margin-right: 24px;
}

/* works */
.works {
    margin-bottom: 120px;
}

.works .title {
    margin: 0;
    margin-bottom: 72px;
}

.works .list {
    display: flex;
    justify-content: center;
}

.works .list>.item:not(:last-child) {
    margin-right: 24px;
}

.works .list>.item>img {
    display: block;
}

/* team */
.team {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: var(--color-bg-team);
}

.team .title {
    margin: 0;
    margin-bottom: 50px;
}

.team .list {
    display: flex;
    justify-content: center;
}

.card {
    background-color: var(--primary-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.card:not(:last-child) {
    margin-right: 24px;
}

.card > .title {
    padding-top: 32px;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-main-text);
}

.card > .text {
    padding-bottom: 30px;
    margin: 0;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.card > img {
    display: block;
}

/* footer */
.footer {
    background-color: var(--secondary-bg-color);
    padding: 100px 0;
}

.container > .text {
    margin: 0;
    margin-top: 16px;
    color: #E7E9FC;
}

/* portfolio page */
.gallery {
    padding-top: 96px;
    padding-bottom: 120px;
}
.gallery > .container > .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.gallery .list:first-of-type {
    margin-bottom: 72px;
}
.gallery .item:not(:last-child) {
    margin-right: 24px;
}

/* gallery btn */
.btn-gallery {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
background: var(--color-bg-team);
border: 1px solid #E7E9FC;
border-radius: 4px;
padding: 12px 24px;
color: var(--accent);
}
.item .btn-gallery:hover,
.item .btn-gallery:focus {
color: #FFFFFF;
background: var(--accent-pressed-state);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border: none;
}

/* gallery cards */
.gallery-card {
    color: var(--color-secondary-text);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    border: 1px solid #E7E9FC;

}
.gallery-card .title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: start;
    color: var(--color-main-text);
}
.gallery-card:not(:nth-child(3n + 3)) {
    margin-right: 24px;
}
.gallery-card:not(:nth-last-child(-n + 3)) {
    margin-bottom: 48px;
}
.gallery-card img {
    display: block;
}
.gallery-card > .link {
    color: inherit;
}
.gallery-card .text {
    display: inline-block;
    margin: 0;
}
.info {
    padding: 32px 16px;
}